<html>

<head>
  <link rel="stylesheet" href="popup.css">
  <script src="libs/liquid.browser.min.js"></script>
</head>

<body>
  <div class="loading">
    <img src="assets/dr_logo.png" />
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;"
      xml:space="preserve">
      <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
        <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s"
          repeatCount="indefinite" />
        <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s"
          repeatCount="indefinite" />
        <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s"
          repeatCount="indefinite" />
      </rect>
      <rect x="8" y="10" width="4" height="10" fill="#333" opacity="0.2">
        <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s"
          repeatCount="indefinite" />
        <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s"
          repeatCount="indefinite" />
        <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s"
          repeatCount="indefinite" />
      </rect>
      <rect x="16" y="10" width="4" height="10" fill="#333" opacity="0.2">
        <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s"
          repeatCount="indefinite" />
        <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s"
          repeatCount="indefinite" />
        <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s"
          repeatCount="indefinite" />
      </rect>
    </svg>
  </div>

  <div class="app">
    <div class="players-container">
      <div class="active-players">
      </div>

      <div class="view-options">
        <div class="player-view">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM7.07 18.28c.43-.9 3.05-1.78 4.93-1.78s4.51.88 4.93 1.78C15.57 19.36 13.86 20 12 20s-3.57-.64-4.93-1.72zm11.29-1.45c-1.43-1.74-4.9-2.33-6.36-2.33s-4.93.59-6.36 2.33C4.62 15.49 4 13.82 4 12c0-4.41 3.59-8 8-8s8 3.59 8 8c0 1.82-.62 3.49-1.64 4.83zM12 6c-1.94 0-3.5 1.56-3.5 3.5S10.06 13 12 13s3.5-1.56 3.5-3.5S13.94 6 12 6zm0 5c-.83 0-1.5-.67-1.5-1.5S11.17 8 12 8s1.5.67 1.5 1.5S12.83 11 12 11z" />
          </svg>
        </div>
        <div class="table-view">
          <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24"
            width="24px" fill="#FFFFFF">
            <rect fill="none" height="24" width="24" />
            <path
              d="M19,3H5C3.9,3,3,3.9,3,5v14c0,1.1,0.9,2,2,2h14c1.1,0,2-0.9,2-2V5C21,3.9,20.1,3,19,3z M19,5v3H5V5H19z M19,10v4H5v-4H19z M5,19v-3h14v3H5z" />
          </svg>
        </div>
        <div class="collapse">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M24 0v24H0V0h24z" fill="none" opacity=".87"/><path d="M7.41 18.59L8.83 20 12 16.83 15.17 20l1.41-1.41L12 14l-4.59 4.59zm9.18-13.18L15.17 4 12 7.17 8.83 4 7.41 5.41 12 10l4.59-4.59z"/></svg>
        </div>
        <div class="expand">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 5.83L15.17 9l1.41-1.41L12 3 7.41 7.59 8.83 9 12 5.83zm0 12.34L8.83 15l-1.41 1.41L12 21l4.59-4.59L15.17 15 12 18.17z"/></svg>
        </div>
      </div>
    </div>
    <div class="flex-container">
      <div class="refresh tooltip">
        <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 0 24 24" width="36px" fill="#FFFFFF">
          <path d="M0 0h24v24H0V0z" fill="none" />
          <path
            d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z" />
        </svg>
        <div class="tooltip-text">
          <h1>
            <span class="quality-white">
              Refresh Armory
            </span>
          </h1>
        </div>
      </div>
      <div class="container">
        <div>
          <div class="grid">
          </div>

          <div class="footer">
            <a target="_blank" href="https://diablo.run/MrLlamaSC/@">
              <img src="assets/dr_logo.png"></a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script id="tmpl-heroes" type="text/template">
    {% for user in users %}
      <div class="icon {{user.isActive | active}}">
        <img src="assets/icons/{{user.hero}}.png" />
        <span class="player-name">{{user.user_name}}</span>
      </div>
    {% endfor %}
  </script>

  <script id="tmpl-heroes-table" type="text/template">
    <div class="table">
      {% for user in users %}
      <div class="row {{user.isActive | active}}">
        <div class="cell icon">
          <img src="assets/icons/{{user.hero}}.png" />
        </div>
        <div class="cell">
          <div class="player-name">
            {{user.user_name}}
          </div>
          <span>Level: {{user.level}}</span>
        </div>
        <div class="cell">
          <span>{{user.difficulty | upcase}}</span>
          <div class="act">
            {{user.area | area}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </script>

  <script id="tmpl-item" type="text/template">
    <div class="column">
     <div>
       {% if item %}
       <div class="tooltip">
         <img src="{{ item.imageSrc }}" />
         <div class="tooltip-text {{ item.pos }}">
           <h1>
             {% if item.runeword %}
               <span class="quality-gold">
                 {{item.runeword}}
                 <br />
               </span>
               {% endif %}
             <span class="quality-{{ item.runeword | quality: item.quality }}">
               {{ item.runeword | name: item.base_name, item.name}}
             </span>
           </h1>
           {% for property in item.properties %}
           <p class="{{ property | red }}">
             {{ property | clean }}
           </p>
           {% endfor %}
         </div>
       </div>
       {% else %}
       <div class="quality-empty">{{ itemSlot }} empty</div>
       {% endif %}
     </div>
   </div>
  </script>

  <script src="popup.js"></script>
</body>

</html>